MONGO_URI=mongodb://localhost:27017/hackathon
REDIS_HOST=localhost
REDIS_PORT=6379
MINIO_URL=http://localhost:9001
MINIO_ACCESS_KEY=your_access_key
MINIO_SECRET_KEY=your_secret_key
MINIO_BUCKET=uploads